.hero {
  height: 100vh;
  background-image: url("/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Dark overlay for readability */
.overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.65)
  );
  display: flex;
  flex-direction: column;
}

.nav {
  padding: 20px 40px;
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.hero-content {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 60px;
}

.hero-content h1 span {
  color: #ffb703;
}

.hero-content p {
  margin: 20px 0;
  font-size: 18px;
  opacity: 0.9;
}

.cta-btn {
  padding: 15px 45px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(90deg, #ff7a18, #ffb703);
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(255, 183, 3, 0.5);
}
